:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #2f3e46;
  background-color: #f5f7f4;
}

.logged-in {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  text-align: left;
  float: left;
}

h1 {
  text-align: left;
  font-size: 3.2em;
  line-height: 1.1;
}

p {
  text-align: left;
  font-size: 1.3em;
}

ul {
  margin-left: -15px;
  font-size: 17px;
  display: flex;
  flex-direction: column;
}

button {
  width: 100px;
  height: 40px;
  text-align: center;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.4em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #dde5dc;
  border-color: #ced4da;
  cursor: pointer;
  transition: border-color 0.25s, font-weight 0.1s;
  box-sizing: border-box;
}

button:hover {
  border-color: #40916c;
  color: #40916c;
  font-weight: 700;
  border-width: 3px;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.login-page {
  display: flex;
  justify-content: center; 
  align-items: center; 
  flex-direction: column;
}

.LoginForm form {
  font-weight: 600;
  display: flex;
  flex-direction: column; 
  gap: 1em; 
  text-align: center; 
  padding: 2em; 
  border: 1px solid #ccc;
  border-radius: 8px; 
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.LoginForm button {
  margin: 0 auto;
  display: block;
}

.LoginForm button:hover{
  color: #40916c;
  border-color: #40916c;
}

.CreateForm form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: -12px;
  font-weight: 600;
}

.CreateForm input {
  width: 200%;
  max-width: 500px;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; 
}
.CreateForm button {
  margin-top: 10px;
}

.notification {
  background: #dde5dc;
  font-size: 18px;
  border: 3px solid;
  border-radius: 8px;
  padding: 0px 10px;
  margin-bottom: 10px;
  display: inline-block;
}

.notification.success {
  color: #006400;
  border-color: #006400;
  background-color: #d4edda;
}

.notification.error {
  background-color: #f8d7da;
  color: #8b0000;
  border-color: #8b0000;
}
